@import 'Globals';
@import 'Variables';
@import 'Header';
@import 'Slider';
@import 'Footer';

@mixin displayFlex($value:center){
    display: flex;
    align-items: $value;
}
.top-call-to-action{
    background-color: $primary-color;
     padding: 40px 0;
    h5{
        margin-bottom: 0;
        
    }
    .text-area{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        span{
            font-size: 20px;
            font-weight: 900;
        }
    }
    .hire-us{
        color:#fff;
        font-size: 15px;
        padding:15px 45px;
        border: 2px solid #fff;
        font-weight: 700;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #fff;
            color: #000;
            
        }
    }
}
// feature area style
.features-area{
    padding: 70px 0;
}
.single-feature{
    overflow: hidden;
    position: relative;
    
    &:hover {
        .feature-content{
            transform: translateY(0);
        }
        
    }
    &:hover .feature-content-top{
        margin-top: 0!important;
    }
    .feature-img{
       cursor: pointer;
    }
    .feature-content{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $primary-color;
        padding: 30px 30px;
        transition: all 0.5s ease-in-out;
        transform: translateY(77%);
        .feature-content-top{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: -16px;
            transition: all 0.5s ease-in-out;
        }
        .feature-icon{
            display: block;
            font-size: 30px;
            line-height: 22px;
            color: #fff;
            
        }
        .feature-title{
            display: block;
            font-size: 16px;
            font-weight: 900;
            color: #fff;
            line-height: 22px;
            margin-bottom: 0;
            margin-left: 23px;
        }
        p{
            color: #e5e5e5;
        }
        a{
            display: inline-block;
            color: #fff;
            i{
                margin-right: 5px;
            }
        }
    }

}
// service box style
.service-area{
    margin-bottom: 70px;
}
.service-box{
    
    @include displayFlex(flex-start);
    .service-thumbnail{
        margin-top: 5px;
        .service-icon{
            padding: 10px 15px;
            background-color: $primary-color;
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
            i{
                font-size: 26px;
                
                color: #fff;
            }
        }
    }
    .service-content{
        .title{
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: #555555;
        }
        p{
            color: #888888;
        }
    }
}
.project-area{
    margin-bottom:70px;
    .single-project{
        position: relative;
        overflow: hidden;
        transition: all 0.4s linear;
        &:hover .project-content{
            opacity: 1;
            visibility: visible;
            top: 0;
        }
        &:hover .project-thumbnail img{
            opacity: 0;
            transform: scale(2);
        }
        &:hover::before{
            opacity: 1;
            visibility: visible;
        }
        &::before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s linear;
        }
        .project-thumbnail {
            overflow: hidden;
        }
        .project-thumbnail img{
            transition: all 0.4s linear;
            overflow: hidden;
        }
       
        .project-content{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease-in-out;
            .title{
                font-size: 16px;
                color: #fff;
            }
            .category{
                font-size: 13px;
                font-weight: 400;
                color: #cccccc;
            }
        }
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev{
        height: 40px;
        width: 40px;
        background-color: $primary-color;
        &:focus{
            outline: none
        }
        i{
            color: #fff;
            font-size: 18px;
        }
    }
    .owl-carousel .owl-nav button.owl-next{
        position: absolute;
        right: -0.95rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        left: -0.95rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-carousel .owl-item, .owl-carousel .owl-wrapper {
	
	    transform:none; 
    }   
}
// why choose area style
.why-choose-us{
    margin-bottom: 70px;
}
.video-section:hover{
    .video-thumbnail img{
        transform: scale(1.2);
    }
}
.video-thumbnail{
    position: relative;
   
    overflow: hidden;
    img{
        transform: scale(1);
        transition: all 0.4s linear;
    }
    
}
.video-icon{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    a{
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        height: 55px;
        width: 55px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        i{
            font-size: 16px;
            color: #fff;
            margin-left: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
        }
    }
}
.choose-service{
    .icon{
        display: inline-block;
        i{
            font-size: 16px;
            color: #555555;
            margin-right: 15px;
        }
    }
    
    .title{
        display: inline-block;
        font-size: 16px;
        color: #555555;
        font-weight: 700;
    }
    &:first-child{
        margin-top: -10px;
    }
}
// call to action
.call-to-action-wrap{
    margin-bottom: 70px;
    background-color: #f0f0f0;
    .call-to-action{
        padding: 190px 0;
        width: 50%;
        text-align: center;
        .section-title{
            margin-bottom: 50px;
        }
        p{
            font-size: 20px;
            color: #555555;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .btn1{
            padding: 20px 50px;
            
            &:hover{
                background-color: $secondary-color;
                color: #fff;
            }
        }
    }
}
// blog area style
.blog-area{
    margin-bottom: 70px;
    .section-title{
        margin-bottom:35px;
    }
    .owl-carousel .owl-nav button.owl-next{
        
        right: 47%;
        top: -72px;
    }
    .owl-carousel .owl-nav button.owl-prev{
        
        left: 40%;
        top: -72px;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        height: 30px;
        width: 30px;
        border: 1px solid #aeaeae;
        border-radius: 50%;
        text-align: center;
        
        display: inline-block;
        i{
            font-size: 18px;
            display: block;
        }
    }
}
.blog-wrap{
    @include displayFlex(flex-start);
    .blog-image{
        margin-right: 30px;
        margin-top: 10px;
        position: relative;
        .publish-date{
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            background-color: #000;
            color: #fff;
            font-size: 11px;
            padding: 5px 0;
        }
    }
    .blog-content{
        flex: 1;
        .blog-title{
            font-size: 18px;
            font-weight: 700;
            color: #555555;
            text-transform: capitalize;
            margin-bottom: 5px;
        }
        p{
            margin-bottom: 10px;
        }
        .meta{
            margin-top: 10px;
            display: inline;
            li{
                display: inline-block;
                margin-right: 25px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    display: inline-block;
                    font-size: 13px;
                    color:#555555;
                    i{
                        margin-right: 5px;
                        color:#555555;
                    }
                }
            }
        }
    }
}
// testimonioal area style
.testiominal-wrap{
    padding-left: 40px;
    position: relative;
    &::before{
        content: '\f10d';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: 0;
        left: 0;
        color: #cccccc;
        font-size: 30px;
    }
}
.testimonial-content{
    
    margin-bottom: 20px;    
    border-bottom: 1px solid #cccccc;
    
}
.testimonial-profile{
    @include displayFlex();
    
    img{
        width: auto;
        border-radius: 50%;
    }
    .profile-info{
        margin-top: 6px;
        margin-left: 20px;
        h6.name{
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
        }
        h6{
            font-size: 13px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 1;
        }
        
    }
}
// brand slide style
.brand-slide{
    background-color: #f2f2f2;
    .brand{
        padding: 70px 0;
        
    }
}